project_prefix       = "prefix"
owner                = "user@email.com

f5xc_kubeconfig      = "ves_system_clustername_kubeconfig_global.yaml"
f5xc_rhel9_container = "marcelwiget/vesio-ver9-ce"
ssh_public_key_file  = "<ssh-public-key-file>"

f5xc_api_url      = "https://tenant.console.ves.volterra.io/api"
f5xc_api_token    = "............................"
f5xc_tenant       = "tenant-........"
f5xc_api_p12_file = "<f5xc_api_file.p12>"
